@mixin keyframes($animation-name) { 
  @keyframes #{$animation-name} {
    @content;
  }
}
  
@mixin animation($str) {
  animation: #{$str};      
}

@include keyframes(animationShow) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.table-container {
  background: var(--color-white);
  margin: 2.5%;
  width: 95%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: left;
  @include animation('animationShow 1s ease-in-out');
  border-radius: 1em;
}