:root {
  --color-mainBg: #f7f7f7f2;
  --color-lightPurpleBg: #8138ffe0;
  --color-darkPurpleBg: #6b17fd;
  --color-error: #f7cfcf38;
  --color-white: white;
  --color-darkOpacity: #000000a6;
  --color-black: black;
  --font-extraSmall: 12px;
  --font-small: 14px;
  --font-large: 18px;
  --font-extraLarge: 22px;
}